/* ---------- Layout ----------- */

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.amp-header__content,
.amp-main__content,
.amp-footer__content {
  margin: 0 auto;
  max-width: 620px;
}

.amp-main {
  min-height: 300px;
}

.amp-main__content {
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
}

#page {
  background-color: #ffffff;
  position: relative;
}

/* ---------- Typography ----------- */

/*
  
    font-family: 'Kameron', serif;
    font-family: 'Lato', sans-serif;
*/


body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  word-wrap: break-word;
}

/* --- Links --- */

a,
a.link {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover,
a:active,
a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: solid;
}

.link {
}

h1 a,
h2 a {
  border-bottom: none;
}

/* --- Headings --- */

h1,
h2,
h3,
h4,
h5,
h6,
.heading-a,
.heading-b,
.heading-c,
.heading-d,
.heading-e,
.heading-f {
  font-family: 'Kameron', serif;
  font-weight: inherit;
  margin: 1rem 0 0.5rem;
}

h1,
.heading-a {
  font-size: 2rem;
}

h2,
.heading-b {
  font-size: 1.5rem;
}

h3,
.heading-c {
  font-size: 0.9375rem;
}

h4,
.heading-d {
  font-size: 0.875rem;
}

h5,
h6,
.heading-e,
.heading-f {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5,
.heading-e {
  font-size: 0.75rem;
}

h6,
.heading-f {
  font-size: 0.625rem;
}

/* --- Text --- */

p {
  margin: 0 0 1rem;
}

del {
  text-decoration: line-through;
}

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb; /* LTR */
  font-style: italic;
  margin: 1.3125rem 10px;
  padding: 0.4375rem 10px;
}

[dir="rtl"] blockquote {
  border-left: none;
  border-right: 1px solid #bbb;
}

blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 2.625rem;
  line-height: 0.1;
  margin-right: 0.153125rem; /* LTR */
  vertical-align: -0.30625rem;
}

[dir="rtl"] blockquote:before {
  content: "\201D";
  margin-left: 0.153125rem;
  margin-right: 0;
}

blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 2.625rem;
  line-height: 0.1;
  vertical-align: -0.39375rem;
}

[dir="rtl"] blockquote:after {
  content: "\201C";
}

blockquote > p:first-child {
  display: inline;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  margin: 0;
  padding: 0 0 0.21875rem 0.875rem; /* LTR */
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 0.875rem 0.21875rem 0;
}

ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.21875rem 0.875rem; /* LTR */
}

[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 0.875rem 0.21875rem 0;
}

/* ---------- Colors ----------- */

body {
  background-color: #FFFAF0;
  color:#2c3e50;
}

.amp-header {
/*   box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28); */
  background: #fff;
}

.amp-main {
  background-color: #ffffff;
}

.amp-footer {
/*   background: #292929; */
  background-color: #EDBA00;
}

a,
.link {
  color: #0166B7;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #033a59;
}

a:active,
.link:active {
  color: #23aeff;
}

.amp-header,
.amp-header a,
.amp-header li a.is-active,
.site-branding__text,
.site-branding,
.site-branding__text a,
.site-branding a {
  color: #fffeff;
}

/* ---------- Utility classes ----------- */

.element-hidden {
  display: none;
}

.element-invisible {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ---------- Header ----------- */

.amp-header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.amp-header__content {
  padding: 0
}


.amp-header a {
  border-bottom: none;
}

.site-branding {
  margin: 0 auto;
}

.site-branding__logo {
  display: inline-block;
  margin-right: 0.875rem; /* LTR */
  margin-bottom: 0;
  padding: 0; /* LTR */
  width: 300px;
}

[dir="rtl"] .site-branding__logo {
  margin-right: 0;
  margin-left: 1em;
}

.site-branding__text {
  display: inline-block;
  vertical-align: top;
}

.site-branding__name {
  font-size: 1.375rem;
  color: #686868;
  line-height: 1;
}

.site-branding__slogan {
  font-size: 0.8125rem;
  margin-top: 7px;
  word-spacing: 0.1em;
  font-style: italic;
}

/* ---------- Footer ----------- */

.amp-footer {
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
}

.amp-footer__content {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.75rem;
  padding: 1rem;
}

.amp-footer a,
.amp-footer a.is-active {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}

.amp-footer a:hover,
.amp-footer a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
}


/* ---------- Skip Link ----------- */

.amp-skip-link,
.skip-link {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 50;
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0.94em;
  line-height: 1.7em;
  padding: 1px 10px 2px;
  border-radius: 0 0 10px 10px;
  border-bottom-width: 0;
  outline: 0;
}

.amp-skip-link.element-invisible.element-focusable:focus
.skip-link.element-invisible.element-focusable:focus {
  position: absolute;
  color: #fff;
}

/* ---------- Contextual links and tabs ----------- */

.tabs,
.contextual-links-wrapper {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/* ---------- Messages ----------- */

.messages {
}

#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}

.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}

div.messages {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 8px 0;
  padding: 10px 10px 10px 50px; /* LTR */
}

div.status {
  background-image: url(../../../../../../misc/message-24-ok.png);
  border-color: #be7;
}

div.status,
.ok {
  color: #234600;
}

div.status,
table tr.ok {
  background-color: #f8fff0;
}

div.warning {
  background-image: url(../../../../../../misc/message-24-warning.png);
  border-color: #ed5;
}

div.warning,
.warning {
  color: #840;
}

div.warning,
table tr.warning {
  background-color: #fffce5;
}

div.error {
  background-image: url(../../../../../../misc/message-24-error.png);
  border-color: #ed541d;
}

div.error,
.error {
  color: #8c2e0b;
}

div.error,
table tr.error {
  background-color: #fef5f1;
}

div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}

div.messages ul li {
  list-style-image: none;
}

.cta {
  text-align: center;
}
.fab {
  margin:0 .5rem;
}

.btn-default {
    color: #ffffff;
    background-color: #0166B7;
    border-color: #0166B7;
}
.btn {
    border-width: 2px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default:focus, .btn-default.focus {
    color: #ffffff;
    background-color: #033a59;
    border-color: #033a59;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #ffffff;
    text-decoration: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}