body {
/*   background-color:#fff6ea; */
  background-color: #FFFAF0;
}

.navbar-default{
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  background: #fff;
}

a,
.navbar-default .navbar-nav > li > a {
  color:#0166B7;
}

a:hover,
a:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color:#033a59;
}

.navbar-btn {
  margin-top:0;
  margin-bottom: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #033a59;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}
.page-header {
  margin: 0;
  padding: 0;
}

.view-why-i-vote-yes .field-name-field-image {
/* border-radius:50%; */
overflow:hidden;
max-width:220px;
/* flex-shrink: 0; */
}
.view-why-i-vote-yes .views-row {
  margin-bottom:2.5rem;
}
.view-why-i-vote-yes .field-name-body .field-items {
  font-size: 2rem;
  padding:2.5rem;
}

.ds-1col.node-why-i-vote-yes {
display:flex;
align-items:center;
}

h1,h2 {
  font-family: 'Kameron', serif;
}

.view-news .field-name-field-image {
  float:left;
  margin-right: 2.5rem;
}

.ds-1col.node-article .field-name-post-date {
  margin-bottom: 2.5rem;
  font-weight: bold;
}

.ds-1col.node-article  .field-name-body {
  margin-bottom: 2.5rem;
}

h2.block-title {
  border-bottom: solid 1px;
}
.front .page-header {
  text-align: center;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 0 auto;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front .field-name-field-youtube-video {
  max-width: 740px;
  margin:0 auto;
}

.view-id-news .more-link {
  text-align: right;
  display: block;
  font-weight: bold;
}

@media (max-width: 567px) {

.ds-1col.node-why-i-vote-yes {
  display: block;
}

.view-why-i-vote-yes .field-name-body .field-items {
  font-size: 2rem;
  padding:  1rem 0 2.5rem;
}

.block.col-md-6 {
  padding-left:0;
  padding-right:0;
}

}