body {
/*   background-color:#fff6ea; */
  background-color: #FFFAF0;
}

.navbar-default{
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  background: #fff;
}

a,
.navbar-default .navbar-nav > li > a {
  color:#0166B7;
}

a:hover,
a:focus,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color:#033a59;
}

.navbar-btn {
  margin-top:0;
  margin-bottom: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #033a59;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.view-why-i-vote-yes .field-name-field-image {
/* border-radius:50%; */
overflow:hidden;
max-width:220px;
flex-shrink: 0;
}

.view-why-i-vote-yes .field-name-body .field-items {
  font-size: 2.5rem;
  padding:2.5rem;
}

.ds-1col.node-why-i-vote-yes {
display:flex;
align-items:center;
}

h1,h2 {
  font-family: 'Kameron', serif;
}

.view-news .field-name-field-image {
  float:left;
  margin-right: 2.5rem;
}
