body {
/*   background-color:#fff6ea; */
  background-color: #FFFAF0;
}

.navbar-default{
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  background: #fff;
}

.navbar-default .navbar-nav > li > a {
  color:#0166B7;
}

.view-why-i-vote-yes .field-name-field-image {
border-radius:50%;
overflow:hidden;
max-width:220px;
}

.ds-1col.node-why-i-vote-yes {
display:flex;
align-items:center;
}